<div class="row picture-header">

    <img src="../../assets/headerCardPicture.JPG" class="d-none d-sm-block d-md-block col-12 col picture-header">


    <img src="../../assets/headerCardPictureMobile.JPG" class="d-block d-sm-none d-md-none col-12 col picture-header">

</div>
<div class="menu col-12 col picture-header">
<div class="col-4 sub-section ">
  <span class="d-none d-sm-none d-md-block">
    Navigation Link One
  </span>
  <span class="d-block d-sm-block d-md-none">
    Link One
  </span>
</div>
<div class="col-4 sub-section">
  <span class="d-none d-sm-none d-md-block">
    Navigation Link Two
  </span>
  <span class="d-block d-sm-block d-md-none">
    Link Two
  </span>
</div>
<div class="col-4 sub-section">
  <span class="d-none d-sm-none d-md-block">
    Navigation Link Three
  </span>
  <span class="d-block d-sm-block d-md-none">
    Link Three
  </span>
</div>
</div>
<div class="gray-section col-12 col">
<div class="title-gray-section d-none d-sm-block d-md-block">
Credit Opportunities With Good Approval Odds
</div>
<div class="title-gray-sectionr d-block d-sm-none d-md-none">
  Credit Opportunities With Good Approval Odds
  </div>
<div class="section-card d-none d-sm-block d-md-block col">
<div class="offset-1 col-7 header-section-card">
  <div class="subtitle-left-gray-section">
    Barclaycard CashFoward World MasterCard
  </div>
</div>
<div class="col-4 header-section-card">
3,252 Reviews
</div>

<div class=" offset-1 section-down col-10">
  <div class="left-section col-4 col">
    <img src="../../assets/CreditCard.JPG" class="col-7 col debit-card">
    <div class="col-5 approval-section">
      <div class="message-approval text-center">
        Approval
        <br>
        Odds
      </div>
      <button class="col-12 approval-section-button">Very Good</button>
    </div>

  </div>
  <div class="right-section col-8">
    <ul>
      <li>
        Get a $100 rewards bonus after you spend $500 in purchases
        <br>
        <span>
        in the first 90 day after account oppening.
        </span>
      </li>
      <li>
        Get a $100 rewards bonus after you spend $500 in purchases
        <br>
        <span>
        in the first 90 day after account oppening.
        </span>
      </li>
      <li>
        Earn unlimited 1.5% cash rewards on every purchase.
        <br>
        Earn unlimited 1.5% cash rewards on every...<span class="show-more">show more</span>
      </li>
    </ul>
  </div>
  <div class="col-12">
    <button class="col-4 apply-section-button text-center">Apply Now</button>
  </div>

</div>



<div class="offset-1 col-10 see-details">
See Details Rates & Fees
</div>
</div>

<div class="section-cardr d-block d-sm-none d-md-none">
  <div class="col-12 header-section-card">
    <div class="subtitle-left-gray-section">
      Barclaycard CashFoward World MasterCard
    </div>
  </div>



  <div class=" col-12 col section-downr">
    <div class="left-sectionr col-12 col">
      <img src="../../assets/CreditCard.JPG" class="col-7 col debit-card">
      <div class="col-5 approval-section">
        <div class="message-approval text-center">
          Approval Odds
        </div>
        <button class="col-12 approval-section-buttonr">Very Good</button>
      </div>

    </div>
    <div class="right-sectionr col-12">
      <ul>
        <li>
          Get a $100 rewards bonus after you spend $500 in purchases
          <br>
          <span>
          in the first 90 day after account oppening.
          </span>
        </li>
        <li>
          Get a $100 rewards bonus after you spend $500 in purchases
          <br>
          <span>
          in the first 90 day after account oppening.
          </span>
        </li>
        <li>
          Earn unlimited 1.5% cash rewards on every purchase.
          <br>
          Earn unlimited 1.5% cash rewards on every...<span class="show-morer">show more</span>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <button class="col-12 apply-section-button text-center">Apply Now</button>
    </div>

  </div>

  <div class="offset-1 col-10 see-detailsr">
  See Details Rates & Fees
  </div>
  </div>

</div>
